export BACKEND_API_URL=http://localhost:4001/api
export BACKEND_AUTH_TOKEN="BEAM me up, Spandex!"
export PORT=4000
export TRACING_HOST=localhost
export TRACING_PORT=8126
export TRACING_BATCH_SIZE=1
export TRACING_SYNC_THRESHOLD=10
