export AUTH_TOKEN="BEAM me up, Spandex!"
export DATABASE_URL=postgresql://postgres:postgres@127.0.0.1:5432/phoenix_backend
export PHOENIX_SECRET="Rma2sZ47QkgKN5hkDjvGSMDhqqOg/olFEs9qMtexSf+UJk0+0n7vA6SAOHBZTaId"
export PORT=4001
export TRACING_HOST=localhost
export TRACING_PORT=8126
export TRACING_BATCH_SIZE=1
export TRACING_SYNC_THRESHOLD=10
